<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <h1>Booktrackers</h1>
    <ul>
    <% booktrackers.forEach( el => { %>
        <li class='booktrackerItem' data-id='<%=el._id%>'>
            <span class='<%= el.completed === true ? 'completed' : 'not'%>'><%= el.booktracker %></span>
            <span class='del'> Delete </span>
        </li>
    <% }) %>    
    </ul>

    <h2>Things left to do: <%= left %></h2>

    <form action="/booktrackers/createBooktracker" method='POST'>
        <input type="text" placeholder="Enter Booktracker Item" name='booktrackerItem'>
        <input type="">
    </form>

    <script src="js/main.js"></script>
</body>
</html>